.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin-top: 6em;
}

.product-detail div {
  width: fit-content;
  text-align: center;
}

.product-detail h1,
.product-detail p {
  font-size: 1.3em;
}

.product-detail h1 {
  border-bottom: 1px solid #007bff;
}
